* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eef5f7;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.result-box {
    width: 550px;

    background-color: white;

    padding: 30px;

    border: 1px solid #bbb;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: darkblue;
    margin-bottom: 25px;
}

.student-info {
    font-size: 18px;
    line-height: 2;
    padding: 10px;
}

hr {
    margin: 15px 0;
}

.result-box h2 {
    margin-bottom: 15px;
    color: #333;
}

.score {
    font-size: 32px;
    font-weight: bold;
    color: green;
    margin-bottom: 15px;
}

.grade {
    font-size: 38px;
    font-weight: bold;
    color: darkblue;
    margin-bottom: 20px;
}

button {
    padding: 10px 25px;

    background-color: #1565c0;
    color: white;

    border: none;
    border-radius: 5px;

    font-size: 16px;

    cursor: pointer;
}